$color-background: #f7e4bb;
$color-background-2: rgb(202, 70, 118);

$text-color-hover: rgb(202, 70, 118);

@font-face {
    font-family: Playwrite-PL;
    src: url("../fonts/Playwrite_PL/PlaywritePL-VariableFont_wght.ttf");
}