.top-bar {
    height: 60px;
    width: 100%;
    background-color: $color-background-3;

    @media screen and (max-width: 1080px){
        height: 20px;
    }
}

.navbar {
    background-color: black;
    height: 30px;
    justify-content: center;
    margin: 0 auto;
    z-index: 2000;
    border-top: 3px dotted $color-background;

    @media screen and (max-width: 720px){
        height: 70px;
    }
}

.menu {
    display: flex;
    height: 50px;
    width: 70%;
    background-color: black;
    border-radius: 50px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;

    a {
        color: $color-background-3;
        text-decoration: none;
        font-family: $font-family-normal;

        &:hover{
            color: $text-color-hover;
        }
    }

    img {
        width: 260px;
        margin-left: -5%;
        filter: drop-shadow(0px 4px 4px black);
    }
    
    @media screen and (max-width: 1080px){
        width: 70%;
        font-size: 16px;
        img {
            width: 160px;   
            margin-left: -13px;         
        }
    }

    @media screen and (max-width: 720px){
        width: 100%;
        font-size: 0.8rem;

        img {
            width: 140px;
        }
    }
}

.dropdown-item {
    width: 200px;

    &:hover{
        background-color: black;
    }
}

.myBtn{
    color: White;
    font-family: Playwrite-PL;

    &:hover{
        color: $color-background-2;
    }

    @media screen and (max-width: 720px){
        font-size: 0.8rem;
    }
}

.menu-separator{
    width: 30%;
    height: 10px;
    background-color: red;
}

.menu-hidden {
    @media screen and (max-width: 1080px){
        display: none;
    }
}
.dropdown-hidden {
    display: none;

    @media screen and (max-width: 1080px){
        display: block;
    }
}

.burger{
    p {
        display: inline-block;
        font-size: 28px;
    }
}