.custom-shape-divider-top-1718731153 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: $color-background-2;
}

.custom-shape-divider-top-1718731153 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 77px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1718731153 .shape-fill {
    fill: #F7E4BB;
}

.bottom-waves{
    margin-top: -10px;
}