// Import all of Bootstrap's CSS
@use "_base" as *;
@import "bootstrap/scss/bootstrap";

html {
    background-color: $color-background-2;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.top-bar {
    height: 60px;
    width: 100%;

    @media screen and (max-width: 1080px){
        height: 20px;
    }
}

.navbar {
    background-color: black;
    height: 30px;
    justify-content: center;
    margin: 0 auto;
    z-index: 2000;
    border-top: 3px solid $color-background;
    border-top-style: dotted;
}

.menu {
    display: flex;
    height: 50px;
    width: 50%;
    background-color: black;
    border-radius: 50px;
    justify-content: space-evenly;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
        font-family: $font-family-normal;

        &:hover{
            color: $text-color-hover;
        }
    }

    img {
        width: 250px;
        filter: drop-shadow(0px 4px 4px black);
    }
    
    @media screen and (max-width: 1080px){
        width: 60%;

        img {
            width: 130px;
        }
    }

    @media screen and (max-width: 720px){
        width: 100%;
        font-size: 0.8rem;

        img {
            margin-left: -15px
        }
    }
}

.dropdown-item {
    width: 200px;

    &:hover{
        background-color: black;
    }
}

.myBtn{
    color: White;
    font-family: Playwrite-PL;

    &:hover{
        color: $color-background-2;
    }

    @media screen and (max-width: 720px){
        font-size: 0.8rem;
    }
}

.carousel {
    box-shadow: 20px 25px 15px white;

    img {
        border-bottom: 1px solid black;
        animation-name: carrusel;
        animation-duration: 6s;
    }

    @media screen and (max-width: 720px){
        padding-top: 5px;
    }
}

// WAVE STYLES =====================================
.custom-shape-divider-top-1718731153 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: $color-background-2;
}

.custom-shape-divider-top-1718731153 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 77px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1718731153 .shape-fill {
    fill: #F7E4BB;
}

// END OF WAVE STYLES ==============================

.container-fluid {
    background-color: $color-background-2;
    margin-top: -2%;

    @media screen and (max-width: 720px){
        margin-top: -10%;
    }
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    width: 100%;
}

.square-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 470px;
    border-radius: 30px;
    background-color: white;
    padding: 5px;

    .top-rating{
        text-align: center;
        width: 100%;
        height: 20px;
        position: sticky;
        top: 0px;
        font-size: 28px;
        border-radius: 30px;
    }

    h4{
        font-family: $font-family-normal;
        font-weight: 1000;
        color: $text-color-hover;
        padding: 10px 0;
        background-color: $color-background;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        text-align: center;
        width: 100%;
    }

    p {
        padding: 0 10px;
        font-size: 1.1rem;
    }

    .img-content {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        transition: 1s;
        border: 3px solid black;

        &:hover{
            filter: contrast(1.4);
            transform: scale(1.05);
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            transition: 1s;
            cursor: pointer;
        }
    }
}

.footer {
    height: 200px;
    width: 100%;
    background-color: black;
}